.navbar-logo {
  padding:0px !important;
}

.navbar{
  margin-bottom:0px;
}

.nav-center{
  margin-left:60px;
}

.jumbotron{
  background-color:#000;
  padding:80px 20px;
  margin-bottom:0px;
}

.jumbotron h1{
font-family: 'Open Sans';
font-size: 7em;
color:#c3c3c3;
}

.jumbotron h2{
font-family: 'Open Sans';
font-size: 4em;
margin-bottom: 40px;
margin-left:15px;
}

.pagen{
  background-color: rgba(173,187,123,0.22);
}

.tutor-scale{
  background-image: url(../images/tutoring1.png);
  background-repeat: no-repeat;
  height:600px;
  margin-right:0px;
  padding-right: 0px;
}

.tutor-scale h1{
font-family: 'Open Sans';
font-size: 3em;
color:#c3c3c3;
}
